<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491397372271-fmndk8j92sdel7gdqpp9c2ngh2iaacue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491397372271-fmndk8j92sdel7gdqpp9c2ngh2iaacue</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>491397372271-52rutp5uf1evf0ekhnsm1amlbrrefsmb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmnZUxxUci3ZJrC0NbvwNF4tvzlidNnGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>491397372271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allball.allball</string>
	<key>PROJECT_ID</key>
	<string>realtime-app-e0a61</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-app-e0a61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491397372271:ios:a32c52aa2846858b25b09a</string>
	<key>DATABASE_URL</key>
	<string>https://realtime-app-e0a61.firebaseio.com</string>
</dict>
</plist>